<%- include('../templates/head') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card">
                <div class="card-header text-center">
                    <h1 class="titulo">Suas Tarefas</h1>
                </div>
                <% tarefas.forEach((tarefa, k)=> { %>
                    <div class="card-body text-md-center form-inline">
                        <input type="checkbox" class="form-check-input check-tarefa" id="flexCheckDefault<%= tarefa.id %>" style="width: 25px; height: 25px;" <%= tarefa.concluida == 1 ? 'checked' : '' %> value="<%= tarefa.id %>">
                        <a href="#" class="fs-4 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover tarefa-modal <%= DateTime.fromJSDate(tarefa.data_termino) < DateTime.now() && tarefa.concluida != 1 ? 'text-danger' : '' %>" data-id="<%= tarefa.id %>" data-titulo="<%= tarefa.titulo %>" data-descricao="<%= tarefa.descricao %>" data-prazo="<%= tarefa.data_termino %>" data-status="<%= tarefa.concluida %>"><%= tarefa.titulo %></a>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>

<%- include('../templates/footer') %>
